@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.group-icon {
  position: absolute;
  top: 303px;
  left: 286px;
  width: 16px;
  height: 677px;
}
.crying-span1 {
  color: var(--color-indigo);
}
.felix-h11,
.stopcryingxyz-h11,
.yo-developer-from-autsria1 {
  margin: 0;
  position: absolute;
  left: 0;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  opacity: 0;
}
.stopcryingxyz-h11 {
  top: 0;
  font-size: inherit;
  width: 545px;
  height: 105px;
}
.felix-h11.animate,
.stopcryingxyz-h11.animate,
.yo-developer-from-autsria1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.felix-h11,
.yo-developer-from-autsria1 {
  top: 105px;
  font-size: var(--font-size-lg);
  color: var(--color-indigo);
}
.yo-developer-from-autsria1 {
  top: 165px;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.text1-div {
  position: absolute;
  top: 254px;
  left: 354px;
  width: 545px;
  height: 212px;
}
.aboutme-div1 {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 980px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
