:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 31px;
  --font-size-lg: 40px;
  --font-size-xl: 50px;
  --font-size-2xl: 70px;
  --font-size-3xl: 100px;

  /* Colors */
  --color-gray-100: #dbdbdb;
  --color-gray-200: #4f4f4f;
  --color-gray-300: #0e1212;
  --color-white: #fff;
  --color-indigo: #5120b5;

  /* Gaps */
  --gap-md: 50px;

  /* Paddings */
  --padding-sm: 20px;
  --padding-md: 60px;
  --padding-lg: 100px;
}
