@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.span6 {
  color: var(--color-gray-100);
}
.logo-p1 {
  margin: 0;
  position: relative;
  font-weight: 800;
  display: inline-block;
  width: 93px;
  height: 55px;
  flex-shrink: 0;
  opacity: 0;
}
.logo-p1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.aboutme-span1 {
  color: var(--color-indigo);
}
.aboutme1 {
  text-decoration: none;
  color: inherit;
}
.aboutme1,
.contact-div2 {
  position: relative;
  font-weight: 800;
  display: inline-block;
}
.links-div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.ellipse-icon4,
.ellipse-icon5,
.ellipse-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
}
.ellipse-icon5,
.ellipse-icon6 {
  top: 22.5px;
}
.ellipse-icon6 {
  top: 45px;
}
.men-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 15px;
  height: 60px;
  flex-shrink: 0;
  display: none;
}
.frame-div3,
.frame-div4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-div4 {
  justify-content: center;
  gap: var(--gap-md);
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.frame-div3 {
  align-self: stretch;
  justify-content: space-between;
}
.navigationbar-div1 {
  position: sticky;
  background-color: var(--color-gray-300);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-indigo);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 800px) {
  .links-div1 {
    display: none;
  }
  .men-button1 {
    display: flex;
  }
}
@media screen and (max-width: 428px) {
  .navigationbar-div1 {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    box-sizing: border-box;
  }
}
